@model IEnumerable<DotNetMommaShared.Models.Category>

@{
    ViewBag.Title = "Category";
}
@Html.Partial("_Message")

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add @ViewBag.Title
    </a>
</div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Partial("_ListActions", new ViewDataDictionary { { "id", item.Id } })

                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>
