@model IEnumerable<DotNetMommaShared.Models.Post>


<div class="container">
    @foreach (var item in Model)
    {
    <div class="card blog-content">
        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayFor(modelItem => item.Title)
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.ActionLink(item.PostCategory.Name, "Index", new { page=1, catId = item.PostCategoryId }, new { @class = "card-link" })</h6>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.ShortDescription)  
                @Html.ActionLink("continue...", "Details", new { id = item.Id }, new { @class = "card-link" })
            </p>

            <h6 class="card-subtitle mb-2 text-muted float-right">Posted: @Html.DisplayFor(modelItem => item.PostedOn)</h6>

           
        </div>
       
    </div>
    }
</div>
