<div class="wrapper">

    <nav class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <h3>Admin</h3>
        </div>
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")" runat="server">
                        <span data-feather="home"></span>
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>

                <li>
                    <a href="#resourcesSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                        <span data-feather="menu"></span><i class="fa fa-table"></i> Resources
                    </a>
                    <ul class="collapse list-unstyled" id="resourcesSubmenu">
                        <li>
                            @Html.ActionLink("Add New Post", "Add", "Resources", null, new { @class="nav-link"})
   
                        </li>
                        <li>
                            @Html.ActionLink("Manage Posts", "Index", "Resources", null, new { @class = "nav-link" })

                        </li>
                        <li>
                            @Html.ActionLink("Manage Categories", "Index", "Category",null, new { @class = "nav-link" })

                        </li>
                        <li>
                            @Html.ActionLink("Manage Technologies", "Index", "Technology",null, new { @class = "nav-link" })

                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#blogSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                        <span data-feather="menu"></span><i class="fa fa-table"></i> Blog
                    </a>
                    <ul class="collapse list-unstyled" id="blogSubmenu">
                        <li>
                            @Html.ActionLink("Add New Post", "Add", "Post",null, new { @class = "nav-link" })

                        </li>
                        <li>
                            @Html.ActionLink("Manage Posts", "Index", "Post",null, new { @class = "nav-link" })

                        </li>

                        <li>
                            @Html.ActionLink("Manage Categories", "Index", "PostCategory",null, new { @class = "nav-link" })

                        </li>
                        <li>
                            @Html.ActionLink("Manage Tags", "Index", "Tag",null, new { @class = "nav-link" })


                        </li>
                    </ul>
                </li>

            </ul>


        </div>
    </nav>
</div>
